<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.add.finance">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".СheckStartActivity"
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".startBalance"></activity>

        <receiver
            android:name=".RestartPhone"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ServiceStartReciver"
            android:enabled="true"
            android:exported="true"></service>

        <receiver
            android:name=".SmsReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".EditAdvent"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditSchet"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditCategory"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Spend"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advent"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".updates_rashod"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".launcher"
            android:configChanges="orientation"
            android:label="@string/title_activity_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rashod_list"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_rashod"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".updates"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OperationListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>